.card {
    max-width: 35vw;
    padding: 5% 0;
    padding-left: 5%;

    border-bottom: 2px solid black;
    border-right: 2px solid black;  
    
    font-family: 'Karantina', sans-serif;
    text-align: left;
    user-select: none;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.greeting {
    font-size: 4em;  
    margin-bottom: 2%;
    text-align: center; 
}
  
.name {
    font-size: 9.5em;
    font-weight: bold;  
    letter-spacing: 0.1em;  
    line-height: 1;
    text-align: center;
}