body{
    overflow: hidden;
    background: #FFFCF5;
    margin: 0px;
}

.app{
    display: flex;
    width: 100vw;
    height: 100vh;   
}

.leftside{
    max-width: 25vw;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.about{
    position: relative;
}

@media (min-width: 1400px){
    .leftside{
        max-width: 35vw;
    }
}

.info{
    width: 100%;
}
